ul li{
    display: inline-block;
    list-style-type: none;
}
#carouselExampleInterval{
    width: 100vw;
    height: 100vh;
    overflow: hidden;   
}
#carouselExampleInterval img{
    filter: brightness(50%);
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    height: 70vh;
}
.carousel-caption h5{
    color: #e9e9e9     ;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    
    color: #e9e9e9     ;
    font-size: 25px;
    font-family: 'font92889'    , Arial;
}

#cont{
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}

#carouselExampleControls img{
    filter: brightness(20%);
}
.navbar a{
    font-family: 'Lobster', cursive;
      font-size: 30px;
      float:center;
      color: #a0a0a0 !important;
  }
  .nav-link{
      color: #a0a0a0 !important;
  }
ul{
    text-align: center;
}
li a{
    text-decoration: none;
    color: black;
    padding: 2px 7px 2px 7px;
}
li a:hover{
    color: blue;
}
h1{
    margin-top: 0;
}
body{
    background:#FE4365;
}
div p{
    color: black;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
.color1{
    color:#FE4365;
}
.color2{
    color:#FC9D9A;
}
.color3{
    color:#F9CDAD;
}
.color4{
    color:#C8C8A9;
}
.color5{
    color:#83AF9B;
}

.item {
    background: white;
    width: 30%;
    height: 50%;
    margin: 1px ;
}
.item1 {   
    background: white;
    width: 80%;
    height: 50%;
}

.titulo {
    text-align: center;
}

.centrar{
    justify-content: center;
    display: flex;
}

.centrar > img{
    border-radius: 3px;
} 


.top-item1{
    height: 90%;
}
.margin-text{
    width: 5px;
    height: 5px;
    margin-top: 17px;
}
.agrupar {
    justify-content: center;
    display: flex;
}

