ul li{
    display: inline-block;
    list-style-type: none;
}
ul{
    text-align: center;
}
li a{
    text-decoration: none;
    color: black;
    padding: 2px 7px 2px 7px;
}
li a:hover{
    color: blue;
}
h1{
    margin-top: 0;
}
body{
    background:#FE4365;
}
div p{
    color: black;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}
.color1{
    color:#FE4365;
}
.color2{
    color:#FC9D9A;
}
.color3{
    color:#F9CDAD;
}
.color4{
    color:#C8C8A9;
}
.color5{
    color:#83AF9B;
}

.container {
    width: 100%;
    height: 50%;
    margin: auto;
    display: flex;
    background: url(../imagenes/index.jpeg);
}

.item {
    background: white;
    width: 30%;
    height: 50%;
    margin: 1px ;
}
.item1 {   
    background: white;
    width: 80%;
    height: 50%;
}

.titulo {
    text-align: center;
}

.centrar{
    justify-content: center;
    display: flex;
}

.centrar > img{
    border-radius: 3px;
} 

.arriba{
    height: 10%;
    display: flex;
    background: url(../imagenes/index.jpeg);
}
.top-item1{
    height: 90%;
}
.margin-text{
    width: 5px;
    height: 5px;
    margin-top: 17px;
}
.agrupar {
    justify-content: center;
    display: flex;
}

.bg{
    height: 100%;
    background: url(../imagenes/index.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

